<div class="card">
<p id="notice"><%= notice %></p>

<div class="card-block"
  <strong>Customername:</strong>
  <%= @order.customerName %>
</div>

<div class="card-block">
  <strong>Address:</strong>
  <%= @order.address %>
</div>

<div class="card-block">
  <strong>Email:</strong>
  <%= @order.email %>
</div>

<div class="card-block">
  <strong>Phonenumber:</strong>
  <%= @order.phonenumber %>
</div>

<div class="card">
  <% if @food_item != nil then %>
  <%= hidden_field_tag :food_item, @food_item.id %>
  <div class="card-block">
    <b><%= @food_item.name%></b>
  </div>
  <div class="card-block">
    <%= image_tag @food_item.image, class:"card-img-top", :size=>"75x60" %>
  </div>
  <div class="card-block">
    <%= @food_item.price %>
    <br />
    <%= @food_item.description %>
  </div>
  <%end%>
</div>

<div class="card-block">
  <strong>Amount:</strong>
  <%= @order.amount %>
</div>

<div class="card-block">
  <strong>Total:</strong>
  <%= @order.total %>
</div>

<%= link_to 'Edit', edit_order_path(@order), class:'btn btn-primary' %> |
<%= link_to 'Lists', orders_path, class:'btn btn-default'%>
</div>
