<div class="container">
  <h1> <%= @food_item.name %></h1>

  <div class="card card-block">
    <strong>Price:</strong>
    <%= @food_item.price %>
  </div>

  <div class="card card-block">
    <strong>Description:</strong>
    <%= @food_item.description %>
  </dic>

  <div class="card card-block">
    <%= image_tag @food_item.image, class:"card-img-top" %>
  </div>

  <div class="card card-block">
    <%= link_to 'Edit', edit_food_item_path(@food_item), :class=>"btn btn-primary" %> |
  </div>
</div>
